#Contenedor {
    border: 5px;
    border-color: black;
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    margin: auto;
   

}



.Rojo {

background-color: red;
width: 150px;
height: 150px;
display: flex;
justify-content: center;
align-items: center;
color: white;


}

.Verde {

    background-color: green;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    order: 1;
    

}


.Azul {

    background-color: blue;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

}
